*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.rslides {
  margin: 0 auto;
}

.rslides_container {
  margin-bottom: 25px;
  position: relative;
  float: left;
  width: 100%;
}
@media (min-width: 1024px) {
  .rslides_container {
    margin-bottom: 30px;
  }
}

.rslides_container, .image-slide-01, .image-slide-02, .image-slide-03 {
  height: 180px;
}
@media (min-width: 321px) {
  .rslides_container, .image-slide-01, .image-slide-02, .image-slide-03 {
    height: 200px;
  }
}
@media (min-width: 481px) {
  .rslides_container, .image-slide-01, .image-slide-02, .image-slide-03 {
    height: 240px;
  }
}
@media (min-width: 768px) {
  .rslides_container, .image-slide-01, .image-slide-02, .image-slide-03 {
    height: 280px;
  }
}
@media (min-width: 1024px) {
  .rslides_container, .image-slide-01, .image-slide-02, .image-slide-03 {
    height: 320px;
  }
}

.image-slide-01, .image-slide-02, .image-slide-03 {
  display: block;
  background-repeat: no-repeat;
}

.image-slide-01 {
  width: 100%;
  background-image: url("../img/slideshow/Slider-01b-medium-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .image-slide-01 {
    background-image: url("../img/slideshow/Slider-01c-tablet.jpg");
    background-size: 100% 100%;
  }
}
@media (min-width: 1024px) {
  .image-slide-01 {
    background-image: url("../img/slideshow/Slider-01d-desktop.jpg");
    background-size: 100% 100%;
  }
}

.image-slide-02 {
  width: 100%;
  background-image: url("../img/slideshow/Slider-02b-medium-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .image-slide-02 {
    background-image: url("../img/slideshow/Slider-02c-tablet.jpg");
    background-size: 100% 100%;
  }
}
@media (min-width: 1024px) {
  .image-slide-02 {
    background-image: url("../img/slideshow/Slider-02d-desktop.jpg");
    background-size: 100% 100%;
  }
}

.image-slide-03 {
  background-image: url("../img/slideshow/Slider-03b-medium-screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}
@media (min-width: 768px) {
  .image-slide-03 {
    background-image: url("../img/slideshow/Slider-03c-tablet.jpg");
    background-size: 100% 100%;
  }
}
@media (min-width: 1024px) {
  .image-slide-03 {
    background-image: url("../img/slideshow/Slider-03d-desktop.jpg");
    background-size: 100% 100%;
  }
}

.centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: transparent;
  top: 50%;
  left: 0;
  opacity: .1;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left top;
  margin-top: -35px;
}
@media (min-width: 768px) {
  .centered-btns_nav {
    height: 61px;
    width: 38px;
  }
}

.centered-btns_nav:active {
  opacity: 1.0;
}

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}

.centered-btns_nav:focus, .transparent-btns_nav:focus, .large-btns_nav:focus {
  outline: none;
}

.centered-btns_tabs {
  padding: 0;
}

.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  display: block;
  width: 50%;
  margin-left: 25.3%;
}

.centered-btns_tabs li, .transparent-btns_tabs li, .large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  padding-right: 7.5px;
}

.centered-btns_tabs a, .transparent-btns_tabs a, .large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.3);
  width: 10px;
  height: 10px;
}

.centered-btns_here a, .transparent-btns_here a, .large-btns_here a {
  background: #222;
  background: rgba(0, 0, 0, 0.8);
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
