*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@media (min-width: 768px) {
  h2 {
    display: none;
  }
}

.section-content {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .sub-headline-style {
    display: block;
  }
}

footer {
  width: 100%;
  margin-top: -25px;
}
@media screen and (min-width: 321px) and (max-width: 369px) {
  footer {
    margin-top: -20px;
  }
}
@media screen and (min-width: 370px) and (max-width: 434px) {
  footer {
    margin-top: -10px;
  }
}
@media screen and (min-width: 435px) and (max-width: 480px) {
  footer {
    margin-top: 140px;
  }
}
@media screen and (min-width: 481px) and (max-width: 550px) {
  footer {
    margin-top: 140px;
  }
}
@media screen and (min-width: 551px) and (max-width: 629px) {
  footer {
    margin-top: 120px;
  }
}
@media screen and (min-width: 629px) and (max-width: 767px) {
  footer {
    margin-top: 150px;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 100px;
  }
}

.wrap {
  overflow: hidden;
  *zoom: 1;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrap .social ul .social__list-item img {
  height: auto;
  width: 100%;
}

.social {
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.social:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 400px) {
  .social {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .social:after {
    content: " ";
    display: block;
    clear: both;
  }
}

.social__list-item {
  height: auto;
  width: 46.80851%;
  float: left;
  margin-bottom: 5.26316%;
  display: block;
  cursor: pointer;
}
.social__list-item:nth-child(2n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.social__list-item:nth-child(2n + 2) {
  margin-left: 53.19149%;
  margin-right: -100%;
  clear: none;
}
@media (min-width: 400px) {
  .social__list-item {
    width: 21.73913%;
    float: left;
  }
  .social__list-item:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .social__list-item:nth-child(4n + 2) {
    margin-left: 26.08696%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 3) {
    margin-left: 52.17391%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 4) {
    margin-left: 78.26087%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 460px) {
  .social__list-item {
    width: 21.73913%;
    float: left;
    margin-bottom: 4.16667%;
  }
  .social__list-item:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .social__list-item:nth-child(4n + 2) {
    margin-left: 26.08696%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 3) {
    margin-left: 52.17391%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 4) {
    margin-left: 78.26087%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 768px) {
  .social__list-item {
    width: 21.73913%;
    float: left;
    margin-bottom: 3.44828%;
  }
  .social__list-item:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .social__list-item:nth-child(4n + 2) {
    margin-left: 26.08696%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 3) {
    margin-left: 52.17391%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 4) {
    margin-left: 78.26087%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 1024px) {
  .social__list-item {
    width: 21.35922%;
    float: left;
    margin-bottom: 2.27273%;
  }
  .social__list-item:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .social__list-item:nth-child(4n + 2) {
    margin-left: 26.21359%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 3) {
    margin-left: 52.42718%;
    margin-right: -100%;
    clear: none;
  }
  .social__list-item:nth-child(4n + 4) {
    margin-left: 78.64078%;
    margin-right: -100%;
    clear: none;
  }
}

.section-content::before {
  min-height: 870px;
}
@media (min-width: 321px) {
  .section-content::before {
    min-height: 910px;
  }
}
@media (min-width: 330px) {
  .section-content::before {
    min-height: 930px;
  }
}
@media (min-width: 340px) {
  .section-content::before {
    min-height: 950px;
  }
}
@media (min-width: 350px) {
  .section-content::before {
    min-height: 970px;
  }
}
@media (min-width: 360px) {
  .section-content::before {
    min-height: 990px;
  }
}
@media (min-width: 370px) {
  .section-content::before {
    min-height: 1035px;
  }
}
@media (min-width: 400px) {
  .section-content::before {
    min-height: 560px;
  }
}
@media (min-width: 435px) {
  .section-content::before {
    min-height: 570px;
  }
}
@media (min-width: 630px) {
  .section-content::before {
    min-height: 610px;
  }
}
@media (min-width: 768px) {
  .section-content::before {
    min-height: 500px;
  }
}
@media (min-width: 1024px) {
  .section-content::before {
    min-height: 620px;
  }
}

.section-content::after {
  min-height: 870px;
}
@media (min-width: 321px) {
  .section-content::after {
    min-height: 975px;
  }
}
@media (min-width: 330px) {
  .section-content::after {
    min-height: 995px;
  }
}
@media (min-width: 340px) {
  .section-content::after {
    min-height: 1015px;
  }
}
@media (min-width: 350px) {
  .section-content::after {
    min-height: 1035px;
  }
}
@media (min-width: 360px) {
  .section-content::after {
    min-height: 1060px;
  }
}
@media (min-width: 370px) {
  .section-content::after {
    min-height: 1100px;
  }
}
@media (min-width: 400px) {
  .section-content::after {
    min-height: 625px;
  }
}
@media (min-width: 435px) {
  .section-content::after {
    min-height: 635px;
  }
}
@media (min-width: 481px) {
  .section-content::after {
    min-height: 643px;
  }
}
@media (min-width: 630px) {
  .section-content::after {
    min-height: 690px;
  }
}
@media (min-width: 768px) {
  .section-content::after {
    min-height: 482px;
  }
}
@media (min-width: 1024px) {
  .section-content::after {
    min-height: 598px;
  }
}

@media (min-width: 321px) {
  .article-colored-box {
    min-height: 944px;
  }
}
@media (min-width: 330px) {
  .article-colored-box {
    min-height: 964px;
  }
}
@media (min-width: 340px) {
  .article-colored-box {
    min-height: 984px;
  }
}
@media (min-width: 350px) {
  .article-colored-box {
    min-height: 1004px;
  }
}
@media (min-width: 360px) {
  .article-colored-box {
    min-height: 1025px;
  }
}
@media (min-width: 370px) {
  .article-colored-box {
    min-height: 1067px;
  }
}
@media (min-width: 400px) {
  .article-colored-box {
    min-height: 593px;
  }
}
@media (min-width: 435px) {
  .article-colored-box {
    min-height: 604px;
  }
}
@media (min-width: 481px) {
  .article-colored-box {
    min-height: 607px;
  }
}
@media (min-width: 630px) {
  .article-colored-box {
    min-height: 650px;
  }
}
@media (min-width: 768px) {
  .article-colored-box {
    min-height: 500px;
  }
}
@media (min-width: 1024px) {
  .article-colored-box {
    min-height: 620px;
  }
}
