*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.testing {
  overflow: hidden;
  *zoom: 1;
}

.image-container {
  padding-left: 20px;
  position: absolute;
  bottom: 20px;
}

.image-container-item {
  width: 328.5px;
  height: 54px;
  background-image: url("../img/test-files/logo-test.png");
  background-size: contain;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

footer {
  width: 100%;
}
@media screen and (min-width: 340px) {
  footer {
    margin-top: 100px;
  }
}
@media screen and (min-width: 355px) {
  footer {
    margin-top: 175px;
  }
}
@media screen and (min-width: 375px) {
  footer {
    margin-top: 200px;
  }
}
@media screen and (min-width: 440px) {
  footer {
    margin-top: 150px;
  }
}
@media screen and (min-width: 480px) {
  footer {
    margin-top: 50px;
  }
}
@media screen and (min-width: 552px) {
  footer {
    margin-top: 200px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 150px;
  }
}

.section-content {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .sub-headline-style {
    display: block;
  }
}

.section-content::before {
  min-height: 1150px;
}
@media (min-width: 321px) {
  .section-content::before {
    min-height: 1200px;
  }
}
@media screen and (min-width: 400px) {
  .section-content::before {
    min-height: 1100px;
  }
}
@media (min-width: 768px) {
  .section-content::before {
    min-height: 960px;
  }
}
@media (min-width: 1024px) {
  .section-content::before {
    min-height: 1040px;
  }
}

.section-content::after {
  min-height: 1150px;
}
@media (min-width: 321px) {
  .section-content::after {
    min-height: 1270px;
  }
}
@media screen and (min-width: 400px) {
  .section-content::after {
    min-height: 1180px;
  }
}
@media (min-width: 768px) {
  .section-content::after {
    min-height: 940px;
  }
}
@media (min-width: 1024px) {
  .section-content::after {
    min-height: 1020px;
  }
}

@media (min-width: 321px) {
  .article-colored-box {
    min-height: 1235px;
  }
}
@media screen and (min-width: 400px) {
  .article-colored-box {
    min-height: 1140px;
  }
}
@media (min-width: 768px) {
  .article-colored-box {
    min-height: 960px;
  }
}
@media (min-width: 1024px) {
  .article-colored-box {
    min-height: 1040px;
  }
}
