@import 'utilities/_variables';

///////////////////////////////
///// About
//////////////////////////////

.section-content-image-about {
    // background: $light-gray;
    // margin: 0 auto;
    // background-position: -10px;
    // background-image: url('../img/about-me-hr.jpg');
    background-image: url('../img/about-hero-image-01.jpg');
    // background-image: url("../img/AustraliaPost-Web.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
    display: block;
    @include breakpoint($breakpoint-level-1) {
	    min-height: 160px;
    }
    @include breakpoint($breakpoint-level-2) {
        background-image: url('../img/about-hero-image-02.jpg');
        min-height: 180px;
    }
    @include breakpoint($breakpoint-level-3) {
        background-image: url('../img/about-hero-image-03.jpg');
        min-height: 220px;        
    }
    @include breakpoint($breakpoint-level-4) {
        background-image: url('../img/about-hero-image-04.jpg');
        min-height: 300px;
    }
}

.section-content-image-about::before {
    // margin-left: auto;
    // margin-right: auto;
    // border: 1px solid blue; 
    border: 1px solid $white; 
    content: ""; 
    position: absolute;
    width: 95%;
    top: 7.5px;
    left: 2.5%;
    height: 125px;
    display: block;
    @include breakpoint($breakpoint-level-1) {
    	height: 145px;
    }
    @media screen and (min-width: 425px) and (max-width: 449px) {
    	width: 96%;
    	left: 2%;
    }
    @media screen and (min-width: 450px) and (max-width: 767px) {
    	width: 97%;
    	left: 1.5%;
    }
    @include breakpoint($breakpoint-level-2) {
        // max-width: 96%;
        // left: 2% ;
        height: 165px;
    }
    @include breakpoint($breakpoint-level-3) {
        width: 642px; // 657px originally
        left: 7.5px;
        height: 205px;
    }
    @include breakpoint($breakpoint-level-4) {
        width: 880px; // 895px originally
        //left: 7.5px;
        height: 285px;
    }
}