@import 'utilities/_variables';
@import 'utilities/_colored_strip_gold-froly-gold';
@import 'utilities/_colored_strip_gold-froly';
@import 'utilities/_colored_strip_white';

html {
  @include breakpoint($breakpoint-level-2) {
    @include background(image-url("background-pattern.png")); 
  }
}

// ---- START ".main-container" ---- //
.main-container {
  @include clearfix;
  //margin: 0 auto;
  position: relative;
  min-height: 85%;
  height: auto;
  padding-bottom: 20%;
	@include box-shadow(#000000 0px 0px 10px);
// 321px to 480px
    @include breakpoint($breakpoint-level-1) {
          @include container(max-width 480px);
          @include show-grid(10);
    }

// 481px to 767px
    @include breakpoint($breakpoint-level-2) {
          // width: 100%;
          @include container(max-width 640px);
          @include show-grid(12);
          min-height: 100%;
    }
// 768px to 1023px
    @include breakpoint($breakpoint-level-3) {
          //padding-bottom: 5%;
          @include container(max-width 768px);
          @include show-grid(14);
    }

// 1024 and up 
    @include breakpoint($breakpoint-level-4) {
          // padding-bottom: 15%;
          // min-height: 1000px;

          @include container(max-width 1024px);
          @include show-grid(16);
    }
}

.main-container::after {
  // background-color: aqua;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: $black;
  top: 0;
  z-index: -9;
}

///////////////////////////////
///// Layout Tweaks
//////////////////////////////

@media screen and (min-width: 481px) {
    html, body {
      height: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .article-black-box {
      display: block;
      min-height: 568px;
    }
}

@media screen and (min-width: 768px) {
    .article-black-box {
      display: block;
      min-height: 1000px;
    }
}

@media screen and (min-width: 768px) {
      .sub-headline-shop {
          display: none;
          // visibility: hidden;
      }
    }

// ---- END ".main-container" ---- //


// Aside Content
.sub-headline-style {
      // background-color: rgba(111, 242, 16, 0.2);
      // position: relative;
      // z-index: 200;
      // animation-name: fontcolor;
      // animation-duration: 4s;
      // animation-iteration-count: infinite;
      // font-family: 'questa_granderegular', fallback serif;
      // font-family: 'Libre Baskerville', serif;
      // font-weight: 400;
      // font-style: italic;
      // font-family: 'PT Serif', serif;
      // font-family: 'Georgia', fallback serif;
      // letter-spacing: .5px;
      // color: $gray-medium;
      @include font-quaternary;
      @include margin-padding-zero;
      @include clearfix;
      display: none;
        @include breakpoint($breakpoint-level-1) {
          display: none;
        }
        @include breakpoint($breakpoint-level-3) {
          // margin-bottom: 15px;
          // top: -45px;
          // position: relative;
          // float: right;
          // margin-bottom: -30px;
          // margin-left: span(1 of 14) + gutter(14);
          // margin-right: span(1 of 14) + gutter(14);
          // display: block;
          width: span(12 of 14);
          margin-left: auto;
          margin-right: auto;
          font-size: 1.375em;
          text-align: right;
        }
        @include breakpoint($breakpoint-level-4) {
          // margin-bottom: 20px;
          // margin-top: 160px;
          // margin-left: span(1 of 16) + gutter(16);
          // margin-right: span(1 of 16) + gutter(16);
          // margin: 0 auto;
          width: span(14 of 16);
          font-size: 1.5em;
      }
}

.section-content-image-holder {
    position: relative;
    z-index: -1;
}



