@import 'utilities/_variables';

.section-content-image-contact {
    // background: $light-gray;
    // margin: 0 auto;
    // background-position: -10px;
    // background-image: url('../img/about-me-hr.jpg');
    //background-image: url("../img/AustraliaPost-Web.jpg");
    background-image: url('../img/contact-hero-image-01.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
    display: block;
    @include breakpoint($breakpoint-level-1) {
        background-image: url('../img/contact-hero-image-01A.jpg');
	    min-height: 160px;
    }
    @include breakpoint($breakpoint-level-2) {
        background-image: url('../img/contact-hero-image-03.jpg');
        min-height: 180px;
    }
    @include breakpoint($breakpoint-level-3) {
        background-image: url('../img/contact-hero-image-04.jpg');
        min-height: 220px;        
    }
    @include breakpoint($breakpoint-level-4) {
        background-image: url('../img/contact-hero-image-05.jpg');
        min-height: 300px;
    }
}

.section-content-image-contact::before {
    // margin-left: auto;
    // margin-right: auto;
    // border: 1px solid blue; 
    border: 1px solid $white; 
    content: ""; 
    position: absolute;
    width: 95%;
    top: 7.5px;
    left: 2.5%;
    height: 125px;
    display: block;
    @include breakpoint($breakpoint-level-1) {
    	height: 145px;
    }
    @media screen and (min-width: 425px) and (max-width: 449px) {
    	width: 96%;
    	left: 2%;
    }
    @media screen and (min-width: 450px) and (max-width: 767px) {
    	width: 97%;
    	left: 1.5%;
    }
    @include breakpoint($breakpoint-level-2) {
        // max-width: 96%;
        // left: 2% ;
        height: 165px;
    }
    @include breakpoint($breakpoint-level-3) {
        width: 642px; // 657px originally
        left: 7.5px;
        height: 205px;
    }
    @include breakpoint($breakpoint-level-4) {
        width: 880px; // 895px originally
        //left: 7.5px;
        height: 285px;
    }
}

// Form Styles
a.email-form {
    color: $gray-medium-darker;
    //text-decoration: none;
}

a.email-form:visited {
    color: $gray-medium-darker;
}

.email-uppercase {
    text-transform: uppercase;
}

.form-style-1, .form-style-2 {
    text-align: center;
    @include breakpoint($breakpoint-level-2) {
        text-align: left;
    } 
}

.form-style-1 {
    margin-top: .125em;
    
}

.form-style-2 {
    //text-transform: uppercase;
    font-family: $font-family-secondary;
    font-size: 1.25em !important;
    // color: $dda-red;
    color: $marigold-d1;
}

.hide-number {
    // text-decoration: none;
    color: $gray-medium-darker;
}

.hide-number:hover {
    // text-decoration: underline;
}