@charset "utf-8";

// ==========================================================================
// ASC DS Final / utilities
// ==========================================================================

@import 'utilities/_fontello';
@import 'utilities/_fonts';
@import 'utilities/_mixins';
@import 'utilities/_normalize';
@import 'utilities/_pe-icon-social';
// @import 'utilities/_print';

// ==========================================================================
// ASC DS Final
// ==========================================================================
@import '_part_A_header';
// Choose "B1" for straight drop shadow or
// Choose "B2" for Fancy Nav with drop shadow
// Choose "B3" for Fancy Nav with drop shadow  
@import '_part_B4_navigation';
@import '_part_C_layouts';
@import '_part_D_main-section-content';
@import '_part_D1_main-section-content-about';
@import '_part_D2_main-section-content-shop';
@import '_part_D3_main-section-content-services';
@import '_part_D4_main-section-content-contact';
// @import '_part_D5_main-section-content-contact';
@import '_part_D6_main-section-content-portfolio';
// @import '_part_D7_main-section-content-index';
// @import '_part_E_gallery.scss';
@import '_part_F_footer';
@import '_part_G_typography';
@import '_part_H_call-to-action';
// @import '_part_I_index';

// @import '_part_I_colored-strip-height-default';
// @import '_slicknav';