@import 'utilities/_variables';

///////////////////////////////
///// index
//////////////////////////////

.section-content {
	margin-top: 25px;
}

.sub-headline-style {
    @include breakpoint($breakpoint-level-3) {
          display: block;
    }
}

footer {
	//background-color: rgba(234, 86, 86, .7); // light
	width: 100%;
	@media screen and (min-width: 321px) and (max-width: 350px) {
	  	margin-top: -30px;
	}
	@include breakpoint($breakpoint-level-1A) {
		margin-top: 130px;
	}
	@media screen and (min-width: 377px) and (max-width: 403px){
	  	margin-top: 150px;
	}
	@include breakpoint($breakpoint-level-1B) {
		//position: absolute;
		//bottom: 1.5%;
		margin-top: 50px;
	}



	
	@include breakpoint($breakpoint-level-2) {
		//position: absolute;
		//bottom: 1.5%;
		margin-top: 40px;
	}
	@include breakpoint($breakpoint-level-3) {
		//position: absolute;
		//bottom: 1.5%;
		margin-top: 125px;
	}
	@include breakpoint($breakpoint-level-4) {
		//position: absolute;
		//bottom: 1.5%;
		margin-top: 130px;
	}
}

// White Text Box
.section-content::before {
	// 1. Default
	min-height: 890px;
	// 2. Medium Phone -- // 321px to 480px
	@include breakpoint($breakpoint-level-1) {min-height: 840px + 115px;}
	@include breakpoint($breakpoint-level-1B) {min-height: 840px + 55px;}
	// 3. Big Phone -- // 481px to 767px
	@include breakpoint($breakpoint-level-2) {min-height: 890px + 50px;}
	// 4. Tablet -- // 768px to 1023px
	@include breakpoint($breakpoint-level-3) {min-height: 580px + 310px;}
	// 5. Desktop -- // Layout 1024px and up
	@include breakpoint($breakpoint-level-4) {min-height: 850px + 30px;}
}

// Gold to Froly to Gold
.section-content::after {
	// 1. Default
	min-height: 890px;
	// 2. Medium Phone -- // 321px to 480px
	@include breakpoint($breakpoint-level-1) {min-height: 905px + 115px;} // red
	@include breakpoint($breakpoint-level-1B) {min-height: 840px + 120px;}
	// 3. Big Phone -- // 481px to 767px
	@include breakpoint($breakpoint-level-2) {min-height: 970px + 50px;}
	// 4. Tablet -- // 768px to 1023px
	@include breakpoint($breakpoint-level-3) {min-height: 562px + 310px;}
	// 5. Desktop -- // Layout 1024px and up
	@include breakpoint($breakpoint-level-4) {min-height: 562px + 258px + 30px;}
}

// Gold to Froly
.article-colored-box {
	// 1. Default
	// 2. Medium Phone -- // 321px to 480px
	@include breakpoint($breakpoint-level-1) {min-height: 875px + 114px;} // gold
	@include breakpoint($breakpoint-level-1B) {min-height: 840px + 88px;}
	// 3. Big Phone -- // 481px to 767px
	@include breakpoint($breakpoint-level-2) {min-height: 930px + 50px;}
	// 4. Tablet -- // 768px to 1023px
	@include breakpoint($breakpoint-level-3) {min-height: 580px + 310px;}
	// 5. Desktop -- // Layout 1024px and up
	@include breakpoint($breakpoint-level-4) {min-height: 580px + 275px + 30px;}
}