@import 'utilities/_variables';

.rslides {
  margin: 0 auto;
  }

.rslides_container {
  //height: 160px;
  //background-color: skyblue;
  margin-bottom: 25px;
  position: relative;
  float: left;
  width: 100%;
  @include breakpoint($breakpoint-level-4) {
        margin-bottom: 30px;
    }
}

.rslides_container, .image-slide-01, .image-slide-02, .image-slide-03 {
    height: 180px;      
  @include breakpoint($breakpoint-level-1) {
    height: 200px;
  }
  @include breakpoint($breakpoint-level-2) {
    height: 240px;
  }
  @include breakpoint($breakpoint-level-3) {
    height: 280px;
  }
  @include breakpoint($breakpoint-level-4) {
    height: 320px;
  }
}

.image-slide-01, .image-slide-02, .image-slide-03 {
  // background-position: top center;
  // background-size: contain;
  // min-height: 160px;         
  display: block;
  background-repeat: no-repeat;
}

.image-slide-01 {
  width: 100%;
  //background-color: yellow;
  //background-color: $froly;
  //background-image: url('../img/slideshow/1.jpg');
  //background-size: auto 100%;
      background-image: url('../img/slideshow/Slider-01b-medium-screen.jpg');
      // background-size: 100% 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;  
  @include breakpoint($breakpoint-level-3) {
      background-image: url('../img/slideshow/Slider-01c-tablet.jpg');
      background-size: 100% 100%;
  }
  @include breakpoint($breakpoint-level-4) {
      background-image: url('../img/slideshow/Slider-01d-desktop.jpg');
      background-size: 100% 100%;
  }
}

.image-slide-02 {
  width: 100%;
  //background-color: green;
  //background-color: $marigold;
  //background-image: url('../img/slideshow/2.jpg');
  //background-size: auto 100%;
        background-image: url('../img/slideshow/Slider-02b-medium-screen.jpg');
      // background-size: 100% 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  
  @include breakpoint($breakpoint-level-3) {
      background-image: url('../img/slideshow/Slider-02c-tablet.jpg');
      background-size: 100% 100%;
  }
  @include breakpoint($breakpoint-level-4) {
      background-image: url('../img/slideshow/Slider-02d-desktop.jpg');
      background-size: 100% 100%;
  }
}

.image-slide-03 {
  //background-color: orange;
  //background-image: url('../img/slideshow/2.jpg');
  //background-size: auto 100%;

  // @include breakpoint($breakpoint-level-1) {
  //     background-image: url('../img/slideshow/Slider-03c-tablet.jpg');
  //     background-size: 100% 100%;
  // }
      background-image: url('../img/slideshow/Slider-03b-medium-screen.jpg');
      // background-size: 100% 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  
  @include breakpoint($breakpoint-level-3) {
      background-image: url('../img/slideshow/Slider-03c-tablet.jpg');
      background-size: 100% 100%;
  }
  @include breakpoint($breakpoint-level-4) {
      background-image: url('../img/slideshow/Slider-03d-desktop.jpg');
      background-size: 100% 100%;
  }
   width: 100%;
}


//////////////////
// Buttons & Everything Else
//////////////////

  .centered-btns_nav {
    // Default Values
    // top: 50%; 
    // height: 61px;
    // width: 38px;
    //background-color: blue;
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: .1;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../img/themes.gif") no-repeat left top;
    margin-top: -35px;
        @include breakpoint($breakpoint-level-1) {

        }
        @include breakpoint($breakpoint-level-2) {

        }
        @include breakpoint($breakpoint-level-3) {
            height: 61px;
            width: 38px;
        }
        @include breakpoint($breakpoint-level-4) {
        
        }
    }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.centered-btns_nav:focus, .transparent-btns_nav:focus, .large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs {
  padding: 0;
}

.centered-btns_tabs, .transparent-btns_tabs, .large-btns_tabs {
  // background-color: pink;
  // margin-right: 25%;
  margin-top: 10px;
  text-align: center;
  display: block;
  width: 50%;
  margin-left: 25.3%;
  }

.centered-btns_tabs li, .transparent-btns_tabs li, .large-btns_tabs li {
  display: inline;
  float: none;
   _float: left;
  *float: left;
  padding-right: 7.5px;
  }

.centered-btns_tabs a, .transparent-btns_tabs a, .large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 10px;
  height: 10px;
  }

.centered-btns_here a,.transparent-btns_here a, .large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }


//////////////////
// Styling Only
//////////////////

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

  // .transparent-btns_nav {
//   z-index: 3;
//   position: absolute;
//   -webkit-tap-highlight-color: rgba(0,0,0,0);
//   top: 0;
//   left: 0;
//   display: block;
//   background: #fff; Fix for IE6-9
//   opacity: 0;
//   filter: alpha(opacity=1);
//   width: 48%;
//   text-indent: -9999px;
//   overflow: hidden;
//   height: 91%;
// }

// .transparent-btns_nav.next {
//   left: auto;
//   right: 0;
// }

// .large-btns_nav {
//   z-index: 3;
//   position: absolute;
//   -webkit-tap-highlight-color: rgba(0,0,0,0);
//   opacity: 0.6;
//   text-indent: -9999px;
//   overflow: hidden;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   background: #000 url("../img/themes.gif") no-repeat left 50%;
//   width: 38px;
//   }

// .large-btns_nav:active {
//   opacity: 1.0;
//   }

// .large-btns_nav.next {
//   left: auto;
//   background-position: right 50%;
//   right: 0;
//   }

// .index-slider-spacing {
//   //margin-top: 25px;
//     @include breakpoint($breakpoint-level-1) {

//         }
//     @include breakpoint($breakpoint-level-2) {

//         }
//     @include breakpoint($breakpoint-level-3) {

//         }
//     @include breakpoint($breakpoint-level-4) {
//         //margin-top: 0;
//     }
// }