@import 'utilities/_variables';

.xpager-gallery{
    position:relative;
    // $font-family-primary: 'wes_fyregular', fallback sans-serif;   
}

.xpager-gallery div img{
	cursor:pointer;
    border: 2px solid $white;
    //$font-family-primary: 'wes_fyregular', fallback sans-serif !important;
}

.xpager-gallery .xpager-conainer{
	margin-bottom: 20px;
}

.xpager-gallery .page-navigation{
    display:inline-block;
}

.xpager-gallery .page-navigation div{
    display:inline-block;
    margin:5px;
    height:35px;
    width:35px;
    border:solid 1px #ccc;
    text-align:center;
    line-height:32px;
}

.xpager-gallery .page-num{
    display:inline-block;
    margin:5px;
    height:35px;
    width:35px;
    text-align:center;
    line-height:32px;
    //$font-family-primary: 'wes_fyregular', fallback sans-serif;
}

.xpager-gallery .page-points{
    display:inline-block;
    height:35px;
}

.xpager-gallery .page-points .points-content .point{
    display:inline-block;
    height:20px;
    width:20px;
    text-align:center;
    line-height:16px;
    border:solid 2px #ccc;
    border-radius:10px;
    font-size:12px;
    margin:5px;
    //$font-family-primary: 'wes_fyregular', fallback sans-serif;
}

.xpager-gallery .page-points .points-content .point.activ{
    border-color:#666;
}

.xpager-gallery .page-points .points-content .point span{
    margin-right:1px;
}

.xpager-gallery .surface{
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    z-index:99998;
    background-color:rgba(0,0,0,0.8);
    display:none;
    cursor:pointer;
}

.xpager-gallery .surface .border{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:999;
    overflow:hidden;
    opacity:0;
}

.xpager-gallery .surface .loader{
    display:block;
	color:#fff;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height:50px;
    width:50px;
    background-size:cover;
    font-size: 35px;
    text-align: center;
    line-height: 50px;
}

.xpager-gallery .surface .border{
    z-index: 1;
}

.xpager-gallery .surface .border img{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor:default;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.xpager-gallery .surface .next_btn, .xpager-gallery .surface .prev_btn{
    font: normal normal normal 14px/1 FontAwesome;
    display:inline-block;
    position:absolute;
    top:50%;
    height:60px;
    width:50px;
    margin-top:-25px;
    text-align:center;
    line-height:50px;
    cursor:pointer;
    z-index:10;
    font-size: 40px;
    line-height: 60px;
    //$font-family-primary: 'wes_fyregular', fallback sans-serif;
}

.xpager-gallery .surface .next_btn{
    right:0px;
}

.xpager-gallery .surface .next_btn:before{
    content:"\f105";
}

.xpager-gallery .surface .prev_btn:before{
    content:"\f104";
} 


.xpager-gallery .surface .close_btn{
    color:#fff;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    height:50px;
    width:50px;
    text-align:center;
    line-height:50px;
    cursor:pointer;
    font-size:30px;
}

.xpager-gallery .surface .close_btn:before{
    content:"x";
}

.xpager-gallery .surface .comment{
	position: fixed;
	color: #fff;
	bottom: 5px;
    left:0px;
	width: 100%;
	text-align: center;
}

.xpager-gallery .surface .nummber{
    position: fixed;
	color: #fff;
	bottom: 10px;
    right:10px;
	text-align: center;  
}