// ==========================================================================
// $FONT-FACE
// ==========================================================================

@font-face {
    font-family: 'wes_fymedium';
    src: url('../fonts/Wes_FY/Wes FY Medium-webfont.eot');
    src: url('../fonts/Wes_FY/Wes FY Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Wes_FY/Wes FY Medium-webfont.woff2') format('woff2'),
         url('../fonts/Wes_FY/Wes FY Medium-webfont.woff') format('woff'),
         url('../fonts/Wes_FY/Wes FY Medium-webfont.ttf') format('truetype'),
         url('../fonts/Wes_FY/Wes FY Medium-webfont.svg#wes_fymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'questa_granderegular';
    src: url('../fonts/Questagrande_Regular/2-Questa_Grande_Regular-webfont.eot');
    src: url('../fonts/Questagrande_Regular/2-Questa_Grande_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Questagrande_Regular/2-Questa_Grande_Regular-webfont.woff2') format('woff2'),
         url('../fonts/Questagrande_Regular/2-Questa_Grande_Regular-webfont.woff') format('woff'),
         url('../fonts/Questagrande_Regular/2-Questa_Grande_Regular-webfont.ttf') format('truetype'),
         url('../fonts/Questagrande_Regular/2-Questa_Grande_Regular-webfont.svg#questa_granderegular') format('svg');
    //font-weight: normal;
    //font-style: normal;
}

@font-face {
    font-family: 'wes_fyregular';
    src: url('../fonts/Wes_FY/wes_fy-webfont.eot');
    src: url('../fonts/Wes_FY/wes_fy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Wes_FY/wes_fy-webfont.woff2') format('woff2'),
         url('../fonts/Wes_FY/wes_fy-webfont.woff') format('woff'),
         url('../fonts/Wes_FY/wes_fy-webfont.ttf') format('truetype'),
         url('../fonts/Wes_FY/wes_fy-webfont.svg#wes_fyregular') format('svg');
    //font-weight: normal;
    //font-style: normal;
}

// @font-face {
//     font-family: 'bebas_neue_regularregular';
//     src: url('../fonts/Bebas_Neue/bebasneue_regular-webfont.eot');
//     src: url('../fonts/Bebas_Neue/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/Bebas_Neue/bebasneue_regular-webfont.woff2') format('woff2'),
//          url('../fonts/Bebas_Neue/bebasneue_regular-webfont.woff') format('woff'),
//          url('../fonts/Bebas_Neue/bebasneue_regular-webfont.ttf') format('truetype'),
//          url('../fonts/Bebas_Neue/bebasneue_regular-webfont.svg#bebas_neue_regularregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'bebas_neuebold';
//     src: url('../fonts/Bebas_Neue/bebasneue_bold-webfont.eot');
//     src: url('../fonts/Bebas_Neue/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/Bebas_Neue/bebasneue_bold-webfont.woff2') format('woff2'),
//          url('../fonts/Bebas_Neue/bebasneue_bold-webfont.woff') format('woff'),
//          url('../fonts/Bebas_Neue/bebasneue_bold-webfont.ttf') format('truetype'),
//          url('../fonts/Bebas_Neue/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//   font-family: 'FontAwesome';
//   src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.3.0');
//   src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'pe-icon-social';
//   src:url('../fonts/pe-icon-social/Pe-icon-social.eot?-96eskg');
//   src:url('../fonts/pe-icon-social/Pe-icon-social.eot?#iefix-96eskg') format('embedded-opentype'),
//     url('../fonts/pe-icon-social/Pe-icon-social.woff?-96eskg') format('woff'),
//     url('../fonts/pe-icon-social/Pe-icon-social.ttf?-96eskg') format('truetype'),
//     url('../fonts/pe-icon-social/Pe-icon-social.svg?-96eskg#pe-icon-social') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//     font-family: 'wes_fythin';
//     src: url('../fonts/Wes_FY/wes_fy_thin-webfont.eot');
//     src: url('../fonts/Wes_FY/wes_fy_thin-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../fonts/Wes_FY/wes_fy_thin-webfont.woff2') format('woff2'),
//          url('../fonts/Wes_FY/wes_fy_thin-webfont.woff') format('woff'),
//          url('../fonts/Wes_FYwes_fy_thin-webfont.ttf') format('truetype'),
//          url('../fonts/Wes_FY/wes_fy_thin-webfont.svg#wes_fythin') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// Libre Baskerville Italic
// @import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400italic);

// Fjalla One
// @import url(https://fonts.googleapis.com/css?family=Fjalla+One);