*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.section-content {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .sub-headline-style {
    display: block;
  }
}

footer {
  width: 100%;
}
@media screen and (min-width: 340px) {
  footer {
    margin-top: 100px;
  }
}
@media screen and (min-width: 342px) {
  footer {
    margin-top: 160px;
  }
}
@media screen and (min-width: 355px) {
  footer {
    margin-top: 175px;
  }
}
@media screen and (min-width: 365px) {
  footer {
    margin-top: 200px;
  }
}
@media screen and (min-width: 375px) {
  footer {
    margin-top: 250px;
  }
}
@media screen and (min-width: 400px) {
  footer {
    margin-top: 150px;
  }
}
@media screen and (min-width: 440px) {
  footer {
    margin-top: 150px;
  }
}
@media screen and (min-width: 460px) {
  footer {
    margin-top: 180px;
  }
}
@media screen and (min-width: 468px) {
  footer {
    margin-top: 220px;
  }
}
@media screen and (min-width: 480px) {
  footer {
    margin-top: 230px;
  }
}
@media screen and (min-width: 481px) {
  footer {
    margin-top: 140px;
  }
}
@media screen and (min-width: 496px) {
  footer {
    margin-top: 180px;
  }
}
@media screen and (min-width: 540px) {
  footer {
    margin-top: 200px;
  }
}
@media screen and (min-width: 552px) {
  footer {
    margin-top: 230px;
  }
}
@media screen and (min-width: 632px) {
  footer {
    margin-top: 250px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 120px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    margin-top: 120px;
  }
}

.section-content::before {
  min-height: 1130px;
}
@media (min-width: 321px) {
  .section-content::before {
    min-height: 1200px;
  }
}
@media screen and (min-width: 400px) {
  .section-content::before {
    min-height: 1090px;
  }
}
@media (min-width: 481px) {
  .section-content::before {
    min-height: 1150px;
  }
}
@media (min-width: 768px) {
  .section-content::before {
    min-height: 960px;
  }
}
@media (min-width: 1024px) {
  .section-content::before {
    min-height: 1040px;
  }
}

.section-content::after {
  min-height: 1130px;
}
@media (min-width: 321px) {
  .section-content::after {
    min-height: 1270px;
  }
}
@media screen and (min-width: 400px) {
  .section-content::after {
    min-height: 1160px;
  }
}
@media (min-width: 481px) {
  .section-content::after {
    min-height: 1230px;
  }
}
@media (min-width: 768px) {
  .section-content::after {
    min-height: 940px;
  }
}
@media (min-width: 1024px) {
  .section-content::after {
    min-height: 1020px;
  }
}

@media (min-width: 321px) {
  .article-colored-box {
    min-height: 1235px;
  }
}
@media screen and (min-width: 400px) {
  .article-colored-box {
    min-height: 1125px;
  }
}
@media (min-width: 481px) {
  .article-colored-box {
    min-height: 1190px;
  }
}
@media (min-width: 768px) {
  .article-colored-box {
    min-height: 960px;
  }
}
@media (min-width: 1024px) {
  .article-colored-box {
    min-height: 1040px;
  }
}
