*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.section-content {
  margin-top: 25px;
}
@media screen and (min-width: 768px) {
  .section-content {
    margin-top: 0px;
  }
}

footer {
  width: 100%;
}
@media screen and (min-width: 335px) {
  footer {
    margin-top: 150px;
  }
}
@media (min-width: 481px) {
  footer {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 110px;
  }
}
@media (min-width: 1024px) {
  footer {
    margin-top: 130px;
  }
}

@media screen and (min-width: 320px) {
  .shop-holder-gray-text {
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  .sub-headline, .sub-headline-shop {
    display: none;
  }
}
.section-content::before {
  min-height: 850px;
}
@media (min-width: 321px) {
  .section-content::before {
    min-height: 898px;
  }
}
@media (min-width: 481px) {
  .section-content::before {
    min-height: 890px;
  }
}
@media (min-width: 768px) {
  .section-content::before {
    min-height: 580px;
  }
}
@media (min-width: 1024px) {
  .section-content::before {
    min-height: 580px;
  }
}

.section-content::after {
  min-height: 850px;
}
@media (min-width: 321px) {
  .section-content::after {
    min-height: 970px;
  }
}
@media (min-width: 481px) {
  .section-content::after {
    min-height: 970px;
  }
}
@media (min-width: 768px) {
  .section-content::after {
    min-height: 562px;
  }
}
@media (min-width: 1024px) {
  .section-content::after {
    min-height: 562px;
  }
}

@media (min-width: 321px) {
  .article-colored-box {
    min-height: 935px;
  }
}
@media (min-width: 481px) {
  .article-colored-box {
    min-height: 930px;
  }
}
@media (min-width: 768px) {
  .article-colored-box {
    min-height: 580px;
  }
}
@media (min-width: 1024px) {
  .article-colored-box {
    min-height: 580px;
  }
}
