*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.section-content {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .sub-headline-style {
    display: block;
  }
}

footer {
  width: 100%;
}
@media screen and (min-width: 321px) {
  footer {
    margin-top: 150px;
  }
}
@media screen and (min-width: 390px) {
  footer {
    margin-top: 180px;
  }
}
@media screen and (min-width: 444px) {
  footer {
    margin-top: 190px;
  }
}
@media (min-width: 481px) {
  footer {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 120px;
  }
}
@media (min-width: 1024px) {
  footer {
    margin-top: 100px;
  }
}

.section-content::before {
  min-height: 740px;
}
@media (min-width: 321px) {
  .section-content::before {
    min-height: 850px;
  }
}
@media (min-width: 481px) {
  .section-content::before {
    min-height: 825px;
  }
}
@media (min-width: 768px) {
  .section-content::before {
    min-height: 790px;
  }
}
@media (min-width: 1024px) {
  .section-content::before {
    min-height: 900px;
  }
}

.section-content::after {
  min-height: 740px;
}
@media (min-width: 321px) {
  .section-content::after {
    min-height: 919px;
  }
}
@media (min-width: 481px) {
  .section-content::after {
    min-height: 905px;
  }
}
@media (min-width: 768px) {
  .section-content::after {
    min-height: 772px;
  }
}
@media (min-width: 1024px) {
  .section-content::after {
    min-height: 867px;
  }
}

@media (min-width: 321px) {
  .article-colored-box {
    min-height: 885px;
  }
}
@media (min-width: 481px) {
  .article-colored-box {
    min-height: 865px;
  }
}
@media (min-width: 768px) {
  .article-colored-box {
    min-height: 790px;
  }
}
@media (min-width: 1024px) {
  .article-colored-box {
    min-height: 905px;
  }
}
