*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.section-content {
  margin-top: 25px;
}

@media (min-width: 768px) {
  .sub-headline-style {
    display: block;
  }
}

footer {
  width: 100%;
}
@media screen and (min-width: 385px) {
  footer {
    margin-top: 140px;
  }
}
@media screen and (min-width: 457px) {
  footer {
    margin-top: 160px;
  }
}
@media screen and (min-width: 480px) {
  footer {
    margin-top: 180px;
  }
}
@media (min-width: 481px) {
  footer {
    margin-top: 20px;
  }
}
@media screen and (min-width: 636px) {
  footer {
    margin-top: 180px;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 120px;
  }
}

.section-content::before {
  min-height: 890px;
}
@media (min-width: 321px) {
  .section-content::before {
    min-height: 945px;
  }
}
@media (min-width: 481px) {
  .section-content::before {
    min-height: 940px;
  }
}
@media (min-width: 768px) {
  .section-content::before {
    min-height: 830px;
  }
}
@media (min-width: 1024px) {
  .section-content::before {
    min-height: 980px;
  }
}

.section-content::after {
  min-height: 890px;
}
@media (min-width: 321px) {
  .section-content::after {
    min-height: 1010px;
  }
}
@media (min-width: 481px) {
  .section-content::after {
    min-height: 1020px;
  }
}
@media (min-width: 768px) {
  .section-content::after {
    min-height: 812px;
  }
}
@media (min-width: 1024px) {
  .section-content::after {
    min-height: 950px;
  }
}

@media (min-width: 321px) {
  .article-colored-box {
    min-height: 978px;
  }
}
@media (min-width: 481px) {
  .article-colored-box {
    min-height: 980px;
  }
}
@media (min-width: 768px) {
  .article-colored-box {
    min-height: 830px;
  }
}
@media (min-width: 1024px) {
  .article-colored-box {
    min-height: 985px;
  }
}
